/* container init */
.container {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    "header header header"
    "nav section section"
    "nav section section"
}

/* All Grid Items */
.container > * {
    background-color: mediumseagreen;
}
h1 {
    text-align:center;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    padding-right:30px;
    padding-top:70px;
}

section {
    grid-area: section;
    padding:10px;
}
a {
    text-decoration:none;
    color:black;
}
