/* container init */
.container {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    "header header header"
    "nav section section"
    "nav section section"
}

/* All Grid Items */
.container > * {
    background-color: mediumseagreen;
}
h1 {
    text-align:center;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    font-size:30px;
}

section {
    grid-area: section;
}
